.content {
    width: 65%;
    margin: 0 auto;

    h3 {
        text-align: center;
    }

    .filter-container {
        display: flex;
        align-items: center;
        gap: 10px;

        .search-container {
            width: 65%;
        }

        .categorie-list-filter {
            width: 35%;
        }
    }

    .livres-container {
        margin-top: 20px;

        .list-livres {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .list-livre-item {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                .left-element {
                    .title {
                        font-weight: bold;
                    }

                    .title-link {
                        color: #6c757d; 
                        transition: color 0.2s ease-in-out;
                    }

                    .title-link:hover {
                        color: #0d6efd;
                        text-decoration: underline !important; 
                    }
                }


                .right-element {
                    align-self: center;
                }
            }
        }
    }
}
