.content {
    width: 65%;
    margin: 0 auto;

    h3 {
        text-align: center;
    }

    .title {
        font-weight: bold;
    }

    .author-row {
        font-size: 14px;
    }

    .author-link {
        color: rgb(26, 84, 166) !important;
        transition: color 0.2s ease-in-out;
    }

        .author-link:hover {
            color: #0d6efd;
            text-decoration: underline !important;
        }

    .custom-badge-color {
        background-color: #D6E4F8 !important;
        color: #1A54A6 !important;
    }

    .categories {
        margin-top: 8px;
        display: flex;
        gap: 5px;
    }

    .disponible-row {
        display: flex;
        justify-content: space-between
    }

    .btn-emprunter {
        background-color: #FFFFFF;
        color: #000000;
        border: 1px solid #CCCCCC;
        border-radius: 10px;
        padding: 6px 18px;
        font-size: 15px;
        font-family: sans-serif;
        cursor: pointer;
        display: inline-block;
        transition: background-color 0.2s;
    }

        .btn-emprunter:hover {
            background-color: #F5F5F5;
        }

    .history {
        margin-top: 10px;

        .history-title {
            font-size: 14px;
        }

        .custom-table {
            font-family: system-ui, -apple-system, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

            .custom-table thead th {
                font-size: 13px;
                font-weight: 500;
                color: #6c757d;
                border-bottom: 1px solid #dee2e6;
                padding-bottom: 12px;
            }

            .custom-table tbody td {
                font-size: 14px;
                border-bottom: none;
            }
    }
}
